* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eecde2;
    font-family: 'Merriweather';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #df87bb;
    width: 600px;
    margin: 0 auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;

}
h2 { 
    margin-bottom: 40px;
    font-size: 10px;
}
.box-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button[type="button"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #df87bb;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 300px;
    justify-content: center;
    margin-left: 25%;
    
}

button[type="button"]:hover {
    background-color: #df87bb;
}
#picture__input {
    display: none;
    font-size: 10px;
  }
  
  .picture {
    width: 200px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: 'Merriweather';
    font-size: 15px;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: #df87bb;
    color: #df87bb;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
  